@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4f4jxb');
  src:  url('fonts/icomoon.eot?4f4jxb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4f4jxb') format('truetype'),
    url('fonts/icomoon.woff?4f4jxb') format('woff'),
    url('fonts/icomoon.svg?4f4jxb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-verified:before {
  content: "\e906";
}
.icon-keyboard_arrow_up:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-x:before {
  content: "\e904";
}
.icon-twitter:before {
  content: "\e904";
}
.icon-envelope:before {
  content: "\e900";
}
.icon-moon-o:before {
  content: "\e905";
}
.icon-bars:before {
  content: "\e901";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-sun:before {
  content: "\e9d4";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
